.goks-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 270px);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.gok-list-item-title {
    display: flex;
    align-items: center;
}

.gok-list-item-title span {
    text-box-trim: trim-both;
}

.gok-list-item-title .icon {
    padding: 0 10px 0 0;
}

.goks-list-item button {
    background-color: #4CAF50;
    margin-left: 10px;
}

.goks-list-item button:active {
    background-color: #3f8f42;
}
